<!DOCTYPE html>
<html lang="en">
<style>

  .loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }

  .loader-wrapper .loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    border: 3px solid transparent;
    border-top-color: white;
    border-radius: 50%;
    z-index: 1001;
    -webkit-animation: spin 1.5s infinite linear;
    animation: spin 1.5s infinite linear;
  }

  .loader-wrapper .loader:before,
  .loader-wrapper .loader:after {
    content: '';
    position: absolute;
    border-radius: 50%;
  }

  .loader-wrapper .loader:before {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid transparent;
    border-top-color: white;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
  }

  .loader-wrapper .loader:after {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px solid transparent;
    border-top-color: white;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  /*Section */
  .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: black;
    z-index: 1000;
  }

  .loader-section.section-left {
    left: 0;
  }

  .loader-section.section-right {
    right: 0;
  }

  /*Finished Loading Styles*/
  .loaded .section-left {
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  .loaded .section-right {
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  .loaded .loader {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 0;
  }

  .loaded .loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
  }
</style>
<script>
  setTimeout(function () {
    $('body').addClass('loaded');
  }, 500);
</script>

<head>
  <meta charset="UTF-8">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Impetus 21</title>
  <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <!--font awesome-->
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <!--bootstrap js-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <!--google font poppins-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<div class="content">
  <div class="loader-wrapper">
    <div class="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
  <body>
    <div id="part1" class="p-2" style="font-family:'Poppins', sans-serif;background-color:black;">
      <!--style="background-color:black;"-->
      <nav class="navbar navbar-expand-md navbar-dark" style="background-color:black;color:white;">
        <a href="#" class="navbar-brand"></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
            <a href="/" class="nav-item nav-link ">Home</a>
            <a href="#" class="nav-item nav-link">Epsilon</a>
            <a href="gallery" class="nav-item nav-link active">Gallery</a>
            <a href="events" class="nav-item nav-link">Events</a>
            <a href="covid_awarness" class="nav-item nav-link">COVID Awarness</a>
          </div>
        </div>
      </nav>

    </div>
    <div style="margin: 20px;">
      <h1 class="responsive-md text-center mt-2" style="color: black;"><b>Gallery</b></h1>
      <br><br>
      <div class="row ml-1 mr-1">
        <div class="col-12 col-md-4 mb-4">
          <img src="g1.jpeg" onclick="openModal();currentSlide(1)" class="hover-shadow" width="100%">
        </div>
        <div class="col-12 col-md-4  mb-4">
          <img src="g2.jpeg" onclick="openModal();currentSlide(2)" class="hover-shadow" width="100%">
        </div>
        <div class="col-12 col-md-4  mb-4">
          <img src="g3.jpeg" onclick="openModal();currentSlide(3)" class="hover-shadow" width="100%">
        </div>
        <div class="col-12 col-md-4  mb-4">
          <img src="g4.jpeg" onclick="openModal();currentSlide(4)" class="hover-shadow" width="100%">
        </div>
        <div class="col-12 col-md-4 mb-4">
          <img src="g5.jpeg" onclick="openModal();currentSlide(5)" class="hover-shadow" width="100%">
        </div>
        <div class="col-12 col-md-4  mb-4">
          <img src="g6.jpeg" onclick="openModal();currentSlide(6)" class="hover-shadow" width="100%">
        </div>
        <div class="col-12 col-md-4  mb-4">
          <img src="g7.jpeg" onclick="openModal();currentSlide(7)" class="hover-shadow" width="100%">
        </div>
        <div class="col-12 col-md-4  mb-4">
          <img src="g8.jpeg" onclick="openModal();currentSlide(8)" class="hover-shadow" width="100%">
        </div>
        <div class="col-12 col-md-4 mb-4">
          <img src="g9.jpeg" onclick="openModal();currentSlide(9)" class="hover-shadow" width="100%">
        </div>
        <div class="col-12 col-md-4  mb-2">
          <img src="g10.jpeg" onclick="openModal();currentSlide(10)" class="hover-shadow" width="100%">
        </div>
        <div class="col-12 col-md-4  mb-4">
          <img src="g11.jpeg" onclick="openModal();currentSlide(11)" class="hover-shadow" width="100%">
        </div>
        <div class="col-12 col-md-4  mb-4">
          <img src="g12.jpeg" onclick="openModal();currentSlide(12)" class="hover-shadow" width="100%">
        </div>
        <div class="col-12 col-md-4 mb-4">
          <img src="g13.jpeg" onclick="openModal();currentSlide(13)" class="hover-shadow" width="100%">
        </div>
        <div class="col-12 col-md-4  mb-4">
          <img src="g14.jpeg" onclick="openModal();currentSlide(14)" class="hover-shadow" width="100%">
        </div>
        <div class="col-12 col-md-4  mb-4">
          <img src="g15.jpeg" onclick="openModal();currentSlide(15)" class="hover-shadow" width="100%">
        </div>
        <div class="col-12 col-md-4  mb-4">
          <img src="g16.jpeg" onclick="openModal();currentSlide(16)" class="hover-shadow" width="100%">
        </div>
        <div class="col-12 col-md-4  mb-4">
          <img src="g17.jpeg" onclick="openModal();currentSlide(17)" class="hover-shadow" width="100%">
        </div>
        <div class="col-12 col-md-4  mb-4">
          <img src="g18.jpeg" onclick="openModal();currentSlide(18)" class="hover-shadow" width="100%">
        </div>
      </div>

      <!-- The Modal/Lightbox -->
      <div id="myModal" class="modal">
        <span class="close cursor" onclick="closeModal()" style="color: white;">&times;</span>
        <div class="modal-content">
          <div class="mySlides">
            <div class="numbertext">1 / 18</div>
            <img src="g1.jpeg" style="width:100%; display: inline-block;vertical-align: middle;">
          </div>

          <div class="mySlides">
            <div class="numbertext">2 / 18</div>
            <img src="g2.jpeg" style="width:100%">
          </div>

          <div class="mySlides">
            <div class="numbertext">3 / 18</div>
            <img src="g3.jpeg" style="width:100%">
          </div>

          <div class="mySlides">
            <div class="numbertext">4 / 18</div>
            <img src="g4.jpeg" style="width:100%">
          </div>
          <div class="mySlides">
            <div class="numbertext">5 / 18</div>
            <img src="g5.jpeg" style="width:100%">
          </div>

          <div class="mySlides">
            <div class="numbertext">6 / 18</div>
            <img src="g6.jpeg" style="width:100%">
          </div>

          <div class="mySlides">
            <div class="numbertext">7 / 18</div>
            <img src="g7.jpeg" style="width:100%">
          </div>

          <div class="mySlides">
            <div class="numbertext">8 / 18</div>
            <img src="g8.jpeg" style="width:100%">
          </div>
          <div class="mySlides">
            <div class="numbertext">9 / 18</div>
            <img src="g9.jpeg" style="width:100%">
          </div>
          <div class="mySlides">
            <div class="numbertext">10 / 18</div>
            <img src="g10.jpeg" style="width:100%">
          </div>
          <div class="mySlides">
            <div class="numbertext">11 / 18</div>
            <img src="g11.jpeg" style="width:100%">
          </div>
          <div class="mySlides">
            <div class="numbertext">12 / 18</div>
            <img src="g12.jpeg" style="width:100%">
          </div>
          <div class="mySlides">
            <div class="numbertext">13 / 18</div>
            <img src="g13.jpeg" style="width:100%">
          </div>
          <div class="mySlides">
            <div class="numbertext">14 / 18</div>
            <img src="g14.jpeg" style="width:100%">
          </div>
          <div class="mySlides">
            <div class="numbertext">15 / 18</div>
            <img src="g15.jpeg" style="width:100%">
          </div>
          <div class="mySlides">
            <div class="numbertext">16 / 18</div>
            <img src="g16.jpeg" style="width:100%">
          </div>
          <div class="mySlides">
            <div class="numbertext">17 / 18</div>
            <img src="g17.jpeg" style="width:100%">
          </div>
          <div class="mySlides">
            <div class="numbertext">18 / 18</div>
            <img src="g18.jpeg" style="width:100%">
          </div>
          <!-- Next/previous controls -->
          <a class="prev" onclick="plusSlides(-1)" style="background-color: white;color: black;">&#10094;</a>
          <a class="next" onclick="plusSlides(1)" style="background-color: white;color: black;">&#10095;</a>
        </div>

      </div>
    </div>
</div>

</body>
<!--Contact us-->
<div style="background-color: black;">

  <%- include('footer'); -%>
</div>
<style>
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }

  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1000px;
  }

  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 25px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  /* Hide the slides by default */
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }


  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgb(58, 54, 54);
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  img.demo {
    opacity: 0.6;
  }

  .active,
  .demo:hover {
    opacity: 1;
  }

  img.hover-shadow {
    transition: 0.3s;
  }

  .hover-shadow:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 15px 25px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
    width: 101%;
  }
</style>
<script>
  // Open the Modal
  function openModal() {
    document.getElementById("myModal").style.display = "block";
  }

  // Close the Modal
  function closeModal() {
    document.getElementById("myModal").style.display = "none";
  }

  var slideIndex = 1;
  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    var captionText = document.getElementById("caption");
    if (n > slides.length) { slideIndex = 1 }
    if (n < 1) { slideIndex = slides.length }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
    captionText.innerHTML = dots[slideIndex - 1].alt;
  }
</script>
<style>
  /*Media Queries*/
  @media (min-width:320px) {
    .res-game {
      padding-left: 8vw;
      padding-right: 8vw;
    }

    .responsive-md {
      font-size: 24px;
    }

    .responsive-lg {
      font-size: 36px;
    }

    .responsive-tx {
      font-size: 16px;
    }

    .res-pad {
      padding: 10px;
    }

    .res-pad-flag {
      padding: 8px;
    }

    .res-mar {
      margin: 8px;
    }

    /* smartphones, iPhone, portrait 480x320 phones */
  }

  @media (min-width:481px) {
    .res-game {
      padding-left: 10vw;
      padding-right: 10vw;
    }

    .responsive-md {
      font-size: 64px;
    }

    .responsive-lg {
      font-size: 88px;
    }

    .responsive-tx {
      font-size: 32px;
    }

    .res-pad {
      padding: 20px;
    }

    .res-pad-flag {
      padding: 24px;
    }

    .res-mar {
      margin: 16px;
    }

    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  }

  @media (min-width:641px) {
    .res-game {
      padding-left: 10vw;
      padding-right: 10vw;
    }

    .responsive-md {
      font-size: 64px;
    }

    .responsive-lg {
      font-size: 88px;
    }

    .responsive-tx {
      font-size: 32px;
    }

    .res-pad {
      padding: 20px;
    }

    .res-pad-flag {
      padding: 24px;
    }

    .res-mar {
      margin: 16px;
    }

    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  }

  @media (min-width:961px) {
    .res-game {
      padding-left: 10vw;
      padding-right: 10vw;
    }

    .responsive-md {
      font-size: 64px;
    }

    .responsive-lg {
      font-size: 88px;
    }

    .responsive-tx {
      font-size: 32px;
    }

    .res-pad {
      padding: 20px;
    }

    .res-pad-flag {
      padding: 24px;
    }

    .res-mar {
      margin: 16px;
    }

    /* tablet, landscape iPad, lo-res laptops ands desktops */
  }

  @media (min-width:1025px) {
    .res-game {
      padding-left: 10vw;
      padding-right: 10vw;
    }

    .responsive-md {
      font-size: 64px;
    }

    .responsive-lg {
      font-size: 88px;
    }

    .responsive-tx {
      font-size: 32px;
    }

    .res-pad {
      padding: 20px;
    }

    .res-pad-flag {
      padding: 24px;
    }

    .res-mar {
      margin: 16px;
    }

    /* big landscape tablets, laptops, and desktops */
  }

  @media (min-width:1281px) {
    .res-game {
      padding-left: 10vw;
      padding-right: 10vw;
    }

    .responsive-md {
      font-size: 64px;
    }

    .responsive-lg {
      font-size: 88px;
    }

    .responsive-tx {
      font-size: 32px;
    }

    .res-pad {
      padding: 20px;
    }

    .res-pad-flag {
      padding: 24px;
    }

    .res-mar {
      margin: 16px;
    }

    /* hi-res laptops and desktops */
  }
</style>
</body>

</html>