<!DOCTYPE html>
<html lang="en">
<style>

.mfp-with-zoom .mfp-title, .touch .gallery-image figcaption, html:not(.touch) .gallery-image figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: rgba(255, 255, 255, 0);
  padding: 1em;
  transition: all 0.2s ease;
  font-weight: 600;
  max-width: calc(100% - 9em);
  line-height: 1.25;
  text-align: center;
  box-sizing: border-box;
}
.mfp-with-zoom .mfp-title:before, .touch .gallery-image figcaption:before, html:not(.touch) .gallery-image figcaption:before, .mfp-with-zoom .mfp-title:after, .touch .gallery-image figcaption:after, html:not(.touch) .gallery-image figcaption:after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  padding: 1em;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  z-index: -1;
}
.mfp-with-zoom .mfp-title:before, .touch .gallery-image figcaption:before, html:not(.touch) .gallery-image figcaption:before, .mfp-with-zoom .mfp-title:after, .touch .gallery-image figcaption:after, html:not(.touch) .gallery-image figcaption:after {
  right: 100%;
  bottom: 100%;
}
.mfp-with-zoom .mfp-title:after, .touch .gallery-image figcaption:after, html:not(.touch) .gallery-image figcaption:after {
  left: 100%;
  top: 100%;
}

.mfp-with-zoom.mfp-ready .mfp-title, .touch .gallery-image figcaption, html:not(.touch) .gallery-image:hover figcaption {
  color: white;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease 0.3s;
}
.mfp-with-zoom.mfp-ready .mfp-title:before, .touch .gallery-image figcaption:before, html:not(.touch) .gallery-image:hover figcaption:before, .mfp-with-zoom.mfp-ready .mfp-title:after, .touch .gallery-image figcaption:after, html:not(.touch) .gallery-image:hover figcaption:after {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready .mfp-title:before, .touch .gallery-image figcaption:before, html:not(.touch) .gallery-image:hover figcaption:before {
  right: -1.5em;
  bottom: -1.5em;
}
.mfp-with-zoom.mfp-ready .mfp-title:after, .touch .gallery-image figcaption:after, html:not(.touch) .gallery-image:hover figcaption:after {
  left: -1.5em;
  top: -1.5em;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

body {
  font-family: "Montserrat", sans-serif;
}

.gallery {
  -moz-column-gap: 0;
       column-gap: 0;
}
@media (min-width: 480px) {
  .gallery {
    -moz-column-count: 2;
         column-count: 2;
  }
}
@media (min-width: 1260px) {
  .gallery {
    -moz-column-count: 3;
         column-count: 3;
  }
}

.gallery-image {
  position: relative;
  margin: 0;
  padding: 0;
}
.gallery-image:before, .gallery-image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 16px solid rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
  will-change: border;
}
.gallery-image:after {
  border-width: 0;
}
.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto;
}
html:not(.touch) .gallery-image {
  overflow: hidden;
}
html:not(.touch) .gallery-image:hover:before {
  border-width: 16px;
}
html:not(.touch) .gallery-image:hover:after {
  border-width: 32px;
}
.touch .gallery-image figcaption {
  top: auto;
  bottom: 2em;
}

.mfp-with-zoom .mfp-container, .mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 0.3s ease-out;
}
.mfp-with-zoom.mfp-bg {
  background-color: rgba(0, 0, 0, 0.9);
}
.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 1;
}
.mfp-with-zoom.mfp-removing .mfp-container, .mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
.mfp-with-zoom img.mfp-img {
  padding: 0;
}
.mfp-with-zoom .mfp-figure:after {
  top: 0;
  bottom: 0;
}
.mfp-with-zoom .mfp-container {
  padding: 0;
}
.mfp-with-zoom .mfp-content {
  overflow: hidden;
}
.mfp-with-zoom .mfp-bottom-bar {
  top: auto;
  bottom: 0;
  margin-top: 0;
}
.mfp-with-zoom .mfp-title {
  top: auto;
  bottom: 2em;
}
.mfp-arrow {
  opacity: 1;
  margin-top: 0 !important;
  width: 20%;
  height: 30%;
  transform: translateY(-50%);
}
.mfp-arrow:before, .mfp-arrow:after {
  margin: 0;
  border: none;
  width: 2rem;
  height: 2rem;
  transform: rotate(-45deg) translate(-50%, -100%);
  opacity: 1;
  top: 50%;
  left: 50%;
  transition: all 0.15s;
}
.mfp-arrow:active {
  transform: translateY(-50%) scale(0.95);
}

.mfp-arrow-left {
  left: 0;
}
.mfp-arrow-left:before, .mfp-arrow-left:after {
  border-top: 2px solid white;
  border-left: 2px solid white;
}
.mfp-arrow-left:after {
  margin-left: 2rem;
}
.mfp-arrow-left:hover:before, .mfp-arrow-left:active:before {
  margin-left: 2rem;
}
.mfp-arrow-left:hover:after, .mfp-arrow-left:active:after {
  margin-left: 0;
}

.mfp-arrow-right {
  right: 0;
}
.mfp-arrow-right:before, .mfp-arrow-right:after {
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}
.mfp-arrow-right:after {
  margin-left: 2rem;
}
.mfp-arrow-right:hover:before {
  margin-left: 2rem;
}
.mfp-arrow-right:hover:after {
  margin-left: 0;
}

button.mfp-close {
  opacity: 1;
  margin-top: 0 !important;
  width: 20%;
  height: 30%;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}
button.mfp-close:before, button.mfp-close:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  border: none;
  width: 2rem;
  height: 2rem;
  opacity: 1;
  transition: all 0.15s;
  transform-origin: 0 0;
  border-top: 2px solid white;
  border-left: 2px solid white;
}
button.mfp-close:before {
  transform: rotate(-45deg);
}
button.mfp-close:after {
  transform: rotate(135deg);
}
button.mfp-close:hover:before {
  transform: rotate(135deg);
}
button.mfp-close:hover:after {
  transform: rotate(315deg);
}
button.mfp-close:active {
  transform: scale(0.95);
}

a {
  text-decoration: none;
  color: inherit;
}

[id=footer] {
  margin-top: 10vh;
  padding: 10vh 0;
  text-align: center;
}
[id=footer] .container {
  position: relative;
}
[id=footer] .container:before, [id=footer] .container:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 20px;
  z-index: 10;
  border-top: 2px solid;
  width: 10%;
  margin-bottom: 10vh;
}
[id=footer] .container:after {
  left: auto;
  right: 20px;
}
[id=footer] * {
  display: block;
}
[id=footer] * + * {
  margin-top: 5vh;
}
[id=footer] .logo {
  font-weight: 600;
  font-size: 1.5em;
}
[id=footer] .copy {
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 600;
}

    .loader-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }

    .loader-wrapper .loader {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        width: 100px;
        height: 100px;
        margin-top: -50px;
        margin-left: -50px;
        border: 3px solid transparent;
        border-top-color: white;
        border-radius: 50%;
        z-index: 1001;
        -webkit-animation: spin 1.5s infinite linear;
        animation: spin 1.5s infinite linear;
    }

    .loader-wrapper .loader:before,
    .loader-wrapper .loader:after {
        content: '';
        position: absolute;
        border-radius: 50%;
    }

    .loader-wrapper .loader:before {
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border: 3px solid transparent;
        border-top-color: white;
        -webkit-animation: spin 2s infinite linear;
        animation: spin 2s infinite linear;
    }

    .loader-wrapper .loader:after {
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border: 3px solid transparent;
        border-top-color: white;
        -webkit-animation: spin 1s infinite linear;
        animation: spin 1s infinite linear;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0);
            transform: rotate(0);
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            -webkit-transform: rotate(0);
            transform: rotate(0);
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    /*Section */
    .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;

        background: black;
        z-index: 1000;
    }

    .loader-section.section-left {
        left: 0;
    }

    .loader-section.section-right {
        right: 0;
    }

    .loaded .section-left {
        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    .loaded .section-right {
        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    .loaded .loader {
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        opacity: 0;
    }

    .loaded .loader-wrapper {
        visibility: hidden;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-transition: all 0.3s 1s ease-out;
        transition: all 0.3s 1s ease-out;
    }
</style>
<script>

// $('.gallery-link').magnificPopup
//   type: 'image'
//   closeOnContentClick: true
//   closeBtnInside: false
//   mainClass: 'mfp-with-zoom mfp-img-mobile'
//   image: 
//     verticalFit: true
//     titleSrc: (item) ->
//       item.el.find('figcaption').text() || item.el.attr('title')
//   zoom:
//     enabled: true
//     # duration: 300
//   gallery:
//     enabled: true
//     navigateByImgClick: false
//     tCounter: ''
//   disableOn: ->
//     $(window).width() > 640 

    setTimeout(function() {
        $('body').addClass('loaded');
    }, 500);
</script>

<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impetus 21</title>
    <link rel="icon" href="/logo.png" type="image/x-icon">
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!--font awesome-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!--bootstrap js-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!--google font poppins-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body style="font-family:'Poppins', sans-serif;background-color:black;">
    <div id="part1" class="p-2">
        <!--style="background-color:black;"-->
        <nav class="navbar navbar-expand-md navbar-dark" style="background-color:black;color:white;">
            <a href="#" class="navbar-brand"></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="/" class="nav-item nav-link ">Home</a>
                    <a href="#" class="nav-item nav-link">Epsilon</a>
                    <a href="gallery" class="nav-item nav-link active">Gallery</a>
                    <a href="events" class="nav-item nav-link">Events</a>
                    <a href="covid_awarness" class="nav-item nav-link">Covid Awarness</a>
                </div>
            </div>
        </nav>
    </div>

    <!--Flagship events-->
    <div id="part2" class="p-2" style="background-color: white;">
        <h1 class="responsive-md text-center mt-2" style="color: black;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Gallery</h1>
        <article class='gallery'>
            <a class='gallery-link' href='/test.jpg'>
              <figure class='gallery-image'>
                <img height='1200' src='/test.jpg' width='1600'>
                <figcaption>Photo caption</figcaption>
              </figure>
            </a>
            <a class='gallery-link' href='/test.jpg'>
              <figure class='gallery-image'>
                <img height='1000' src='/test.jpg' width='1600'>
                <figcaption>Photo caption</figcaption>
              </figure>
            </a>
            <a class='gallery-link' href='/test.jpg'>
              <figure class='gallery-image'>
                <img height='1000' src='/test.jpg' width='1200'>
                <figcaption>Photo caption</figcaption>
              </figure>
            </a>
            <a class='gallery-link' href='/test.jpg'>
              <figure class='gallery-image'>
                <img height='1000' src='/test.jpg' width='1200'>
                <figcaption>Photo caption</figcaption>
              </figure>
            </a>
            <a class='gallery-link' href='/test.jpg'>
              <figure class='gallery-image'>
                <img height='1400' src='/test.jpg' width='1600'>
                <figcaption>Photo caption</figcaption>
              </figure>
            </a>
            <a class='gallery-link' href='/test.jpg'>
              <figure class='gallery-image'>
                <img height='1200' src='/test.jpg' width='1600'>
                <figcaption>Photo caption</figcaption>
              </figure>
            </a>
            <a class='gallery-link' href='/test.jpg'>
              <figure class='gallery-image'>
                <img height='1200' src='/test.jpg' width='1400'>
                <figcaption>Photo caption</figcaption>
              </figure>
            </a>
            <a class='gallery-link' href='/test.jpg'>
              <figure class='gallery-image'>
                <img height='1600' src='/test.jpg' width='1000'>
                <figcaption>Photo caption</figcaption>
              </figure>
            </a>
            <a class='gallery-link' href='/test.jpg'>
              <figure class='gallery-image'>
                <img height='1400' src='/test.jpg' width='1000'>
                <figcaption>Photo caption</figcaption>
              </figure>
            </a>
          </article>          

    </div>

    <div class="content">
        <div class="loader-wrapper">
            <div class="loader"></div>

            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>
    </div>

    <!--Contact us-->
  <%- include('footer'); -%>
    
    <style>
        /*Media Queries*/
        @media (min-width:320px) {
            .res-game {
                padding-left: 8vw;
                padding-right: 8vw;
            }

            .responsive-md {
                font-size: 24px;
            }

            .responsive-lg {
                font-size: 36px;
            }

            .responsive-tx {
                font-size: 16px;
            }

            .res-pad {
                padding: 10px;
            }

            .res-pad-flag {
                padding: 8px;
            }

            .res-mar {
                margin: 8px;
            }

            /* smartphones, iPhone, portrait 480x320 phones */
        }

        @media (min-width:481px) {
            .res-game {
                padding-left: 10vw;
                padding-right: 10vw;
            }

            .responsive-md {
                font-size: 64px;
            }

            .responsive-lg {
                font-size: 88px;
            }

            .responsive-tx {
                font-size: 32px;
            }

            .res-pad {
                padding: 20px;
            }

            .res-pad-flag {
                padding: 24px;
            }

            .res-mar {
                margin: 16px;
            }

            /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
        }

        @media (min-width:641px) {
            .res-game {
                padding-left: 10vw;
                padding-right: 10vw;
            }

            .responsive-md {
                font-size: 64px;
            }

            .responsive-lg {
                font-size: 88px;
            }

            .responsive-tx {
                font-size: 32px;
            }

            .res-pad {
                padding: 20px;
            }

            .res-pad-flag {
                padding: 24px;
            }

            .res-mar {
                margin: 16px;
            }

            /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
        }

        @media (min-width:961px) {
            .res-game {
                padding-left: 10vw;
                padding-right: 10vw;
            }

            .responsive-md {
                font-size: 64px;
            }

            .responsive-lg {
                font-size: 88px;
            }

            .responsive-tx {
                font-size: 32px;
            }

            .res-pad {
                padding: 20px;
            }

            .res-pad-flag {
                padding: 24px;
            }

            .res-mar {
                margin: 16px;
            }

            /* tablet, landscape iPad, lo-res laptops ands desktops */
        }

        @media (min-width:1025px) {
            .res-game {
                padding-left: 10vw;
                padding-right: 10vw;
            }

            .responsive-md {
                font-size: 64px;
            }

            .responsive-lg {
                font-size: 88px;
            }

            .responsive-tx {
                font-size: 32px;
            }

            .res-pad {
                padding: 20px;
            }

            .res-pad-flag {
                padding: 24px;
            }

            .res-mar {
                margin: 16px;
            }

            /* big landscape tablets, laptops, and desktops */
        }

        @media (min-width:1281px) {
            .res-game {
                padding-left: 10vw;
                padding-right: 10vw;
            }

            .responsive-md {
                font-size: 64px;
            }

            .responsive-lg {
                font-size: 88px;
            }

            .responsive-tx {
                font-size: 32px;
            }

            .res-pad {
                padding: 20px;
            }

            .res-pad-flag {
                padding: 24px;
            }

            .res-mar {
                margin: 16px;
            }

            /* hi-res laptops and desktops */
        }
    </style>
</body>

</html>
